
*.vcxproj
*.json
*.sqlite
*.vsidx
.vs/ThreadSafeQueue/v17/.wsuo
*.db
*.v2
ThreadSafeQ/.vs/ThreadSafeQ/v17/.suo
*.sln
*.cs
*.cache
*.editorconfig
*.props
*.targets
*.csproj
ThreadSafeQueue/.vs/ThreadSafeQueue/v17/.suo
*.db-shm
*.db-wal
*.opendb
*.ipch
*.filters
*.user
*.obj
*.ilk
*.log
*.tlog
*.idb
*.pdb
*.exe
ThreadSafeQueue/ThreadSafeQueue/x64/Debug/ThreadSafeQueue.exe.recipe
